@font-face {
    font-family: iran;
    src: url(IRANSansX-Bold.woff2);
}
* {
    margin: 0;
    padding: 0;
    font-family: iran;
}

body {
    background: black;
}

canvas {
    display: block;
}

#color {
    color: #BBB;
    font-family: iran;
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}
